/* custom scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6);
}

*::-webkit-scrollbar-button {
  display: none;
}